.social
{
    //border: 1px solid blue;
    height: 100px;
    font-family: Montserrat;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.social p
{
    color: #86878B;
    font-size: 12px;
}
#follow
{
    opacity: 0.65;
}
footer
{
    background: black;
}