.section6
{
    //border: 1px solid red;
    width: 100%;
    height: 550px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: Montserrat;
}
.comments
{
    //border: 1px solid blue;
    width: 100%;
    height: 100px;
    text-align: center;
    padding: 50px;
    
}
.comments h1
{
    font-size: 2.5em;
    padding-bottom: 50px;
}
.comments img
{
    
    padding-bottom: 15px;
}
.reviews
{
    width: 100%;
    //border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
.peoples
{
    //border: 1px solid green;
    width: 270px;
    padding: 5px;
}
.peoples p
{
    
    background: #6696E2;
    color: white;
    line-height: 20px;
    font-family: Montserrat;
    border-radius: 5px;
    padding: 10px;
}
#uzimtumas
{
    background: none;
    color: #86878B;
    padding: 0;
    margin-bottom: 0;
}
.foto4
{
    //border: 1px solid blue;
    display: flex;
    flex-direction: row;
    gap: 5px
}
.nuotrauka img
{
    //float: left;
    width: 70px;
    height: 70px;
    //position: relative;

}
.foto4 h3
{
    margin-bottom: -10px;
}
.nuotrauka img::after
{
    content: "";
    position: absolute;
    border: 15px solid transparent;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-top-color: #6696E2;
}
.asmuo
{
    display: flex;
    flex-direction: column;
}
.asmuo h3
{
    padding-bottom: 10px;
}